## 6.5.2 Google Maps API and heat maps

In [17]:
import pandas as pd
import gmaps
import requests

import sys
sys.path.insert(1, '/Users/russellshomefolder/Bootcamp_Work/Module_6')
from config import g_key

In [18]:
# Get cities dataframe
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head(10)

,Unnamed: 0,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Airai,TL,2022-11-07 04:57:49,-8.9266,125.4092,75.43,54,100,2.01
1,1,1,Rikitea,PF,2022-11-07 04:58:03,-23.1203,-134.9692,72.63,81,91,18.59
2,2,2,Saint-Philippe,RE,2022-11-07 04:58:04,-21.3585,55.7679,78.39,76,77,10.49
3,3,3,Qaanaaq,GL,2022-11-07 04:58:04,77.4840,-69.3632,-3.08,85,100,9.13
4,4,4,Husavik,IS,2022-11-07 04:57:18,66.0449,-17.3389,38.66,98,100,2.19
5,5,5,Boma,GH,2022-11-07 04:58:05,7.0805,-2.1697,69.78,99,54,1.83
6,6,6,Nanortalik,GL,2022-11-07 04:58:05,60.1432,-45.2371,30.78,83,79,5.17
7,7,7,Roma,US,2022-11-07 04:58:05,43.2128,-75.4557,65.73,93,100,4.61
8,8,8,Lebu,CL,2022-11-07 04:58:06,-37.6167,-73.6500,50.25,90,33,10.65
9,9,9,Jamestown,US,2022-11-07 04:58:06,42.0970,-79.2353,59.72,87,9,1.01

In [19]:
city_data_df.columns

Index(['Unnamed: 0', 'City_ID', 'City', 'Country', 'Date', 'Lat', 'Lng',
       'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed'],
      dtype='object')

In [20]:
city_data_df.drop('Unnamed: 0', axis=1, inplace=True)

In [21]:
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Airai,TL,2022-11-07 04:57:49,-8.9266,125.4092,75.43,54,100,2.01
1,1,Rikitea,PF,2022-11-07 04:58:03,-23.1203,-134.9692,72.63,81,91,18.59
2,2,Saint-Philippe,RE,2022-11-07 04:58:04,-21.3585,55.7679,78.39,76,77,10.49
3,3,Qaanaaq,GL,2022-11-07 04:58:04,77.4840,-69.3632,-3.08,85,100,9.13
4,4,Husavik,IS,2022-11-07 04:57:18,66.0449,-17.3389,38.66,98,100,2.19
5,5,Boma,GH,2022-11-07 04:58:05,7.0805,-2.1697,69.78,99,54,1.83
6,6,Nanortalik,GL,2022-11-07 04:58:05,60.1432,-45.2371,30.78,83,79,5.17
7,7,Roma,US,2022-11-07 04:58:05,43.2128,-75.4557,65.73,93,100,4.61
8,8,Lebu,CL,2022-11-07 04:58:06,-37.6167,-73.6500,50.25,90,33,10.65
9,9,Jamestown,US,2022-11-07 04:58:06,42.0970,-79.2353,59.72,87,9,1.01

In [22]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [23]:
# Tell gmaps to use api key, only needs to be done once
gmaps.configure(api_key = g_key)

### Genereal syntax for creating heat maps

In [24]:
'''
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig
'''

'\n# 1. Assign the locations to an array of latitude and longitude pairs.\nlocations = [latitude, longitude]\n# 2. Assign the weights variable to some values.\ntemperatures = # an array of length equal to the locations array length\n# 3. Assign the figure variable to the gmaps.figure() attribute.\nfig = gmaps.figure()\n# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.\nheatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)\n\n# 5. Add the heatmap layer.\nfig.add_layer(heatmap_layer)\n# 6. Call the figure to plot the data.\nfig\n'

In [25]:
# Gmaps heat maps will not plot negative numbers. This is BCS solution to the problem
max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))
# In the for loop, we're using the max() function to get the largest value between the temp and 0. 
#If the temp is less than 0, then 0 will be added to the list in its place. 
#Otherwise, the temp is added to the list.

In [26]:
# Same thing as list comprehension
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [28]:
# Do it for our data
# Heatmap for temperature
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
# Use temps instead of max_temp becasue of negative values native to max_temp
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# List comprehension can also be added directly to map generation
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
# Right here
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Adjust heat map zoom, intensity, and point radius

In [31]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
# Center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Max_intensity for gradient and point_radius to adjust radius size
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
# Center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
# Added to this function. Dissipating set to True by default
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=250, point_radius=4.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### More Heatmaps

In [41]:
# Percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=4.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=200, point_radius=4.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## 6.5.3 Ask for temperature input

In [47]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the mximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the mximum temperature you would like for your trip? 90

In [49]:
# Filter dataframe based on inputs
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Airai,TL,2022-11-07 04:57:49,-8.9266,125.4092,75.43,54,100,2.01
2,2,Saint-Philippe,RE,2022-11-07 04:58:04,-21.3585,55.7679,78.39,76,77,10.49
11,11,Atuona,PF,2022-11-07 04:58:43,-9.8000,-139.0333,76.24,72,79,12.53
12,12,Hithadhoo,MV,2022-11-07 04:58:44,-0.6000,73.0833,81.79,75,43,12.64
29,29,Labuhan,ID,2022-11-07 04:58:49,-6.8844,112.2051,84.94,65,99,6.78
32,32,Saint-Joseph,RE,2022-11-07 04:58:49,-21.3667,55.6167,77.38,74,77,7.63
38,38,Mangrol,IN,2022-11-07 04:58:51,21.1167,70.1167,84.11,44,43,6.82
39,39,Vaini,TO,2022-11-07 04:58:52,-21.2000,-175.2000,80.76,65,20,6.91
55,55,Broken Hill,AU,2022-11-07 04:59:57,-31.9500,141.4333,79.65,22,2,4.83
56,56,Butaritari,KI,2022-11-07 04:59:57,3.0707,172.7902,80.26,75,44,5.97

In [51]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [55]:
preferred_cities_df.notnull().sum()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

### Creating a new dataframe to hold city data and new hotel information

In [70]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0            Airai      TL     75.43  -8.9266  125.4092
2   Saint-Philippe      RE     78.39 -21.3585   55.7679
11          Atuona      PF     76.24  -9.8000 -139.0333
12       Hithadhoo      MV     81.79  -0.6000   73.0833
29         Labuhan      ID     84.94  -6.8844  112.2051
32    Saint-Joseph      RE     77.38 -21.3667   55.6167
38         Mangrol      IN     84.11  21.1167   70.1167
39           Vaini      TO     80.76 -21.2000 -175.2000
55     Broken Hill      AU     79.65 -31.9500  141.4333
56      Butaritari      KI     80.26   3.0707  172.7902

In [71]:
# Using Nearby API to get hotel names
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
type(params)

dict

In [72]:
# Iterate through a dataframs
for index, row in hotel_df.iterrows():
    # Get Lat and Lng from dataframe
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude found above to the params dictionary with key, location
    params["location"] = f'{lat},{lng}'
    # Restate base_url (not sure why)
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request with dict added
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from results and store the name in the dataframe
    # Use try-except handling for indexerror
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found ... skipping.")
print("Search Complete")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Search Complete

In [81]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Airai,TL,75.43,-8.9266,125.4092,
2,Saint-Philippe,RE,78.39,-21.3585,55.7679,Le four à pain
11,Atuona,PF,76.24,-9.8000,-139.0333,Villa Enata
12,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
29,Labuhan,ID,84.94,-6.8844,112.2051,DoubleFAG
...,...,...,...,...,...,...
550,Sinnamary,GF,76.14,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
562,Shishou,CN,76.84,29.7226,112.4190,Chuyuan Hotel
564,Port Blair,IN,86.04,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
565,La Orilla,MX,76.15,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
572,Toamasina,MG,78.80,-18.1667,49.3833,Hotel H1

In [74]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [83]:
hotel_df.loc[hotel_df["Hotel Name"] == '']

          City Country  Max Temp      Lat       Lng Hotel Name
0        Airai      TL     75.43  -8.9266  125.4092
175       Poum      NC     78.62 -20.2333  164.0167
211     Isugod      PH     84.06   9.3408  118.1196
232     Aitape      PG     85.95  -3.1374  142.3475
289  Micheweni      TZ     78.91  -4.9667   39.8333
309      Ndele      CF     76.05   8.4109   20.6473
431     Beloha      MG     79.11 -25.1667   45.0500

In [80]:
# New dataframe created excluding cities with blank hotel name
hotels_df = hotel_df.loc[hotel_df["Hotel Name"] != '']
hotels_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint-Philippe,RE,78.39,-21.3585,55.7679,Le four à pain
11,Atuona,PF,76.24,-9.8000,-139.0333,Villa Enata
12,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
29,Labuhan,ID,84.94,-6.8844,112.2051,DoubleFAG
32,Saint-Joseph,RE,77.38,-21.3667,55.6167,"""Plantation Bed and Breakfast"
...,...,...,...,...,...,...
550,Sinnamary,GF,76.14,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
562,Shishou,CN,76.84,29.7226,112.4190,Chuyuan Hotel
564,Port Blair,IN,86.04,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
565,La Orilla,MX,76.15,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
572,Toamasina,MG,78.80,-18.1667,49.3833,Hotel H1

### Heatmap for hotels dataframe

In [91]:
locations = hotels_df[["Lat", "Lng"]]
max_temp = hotels_df["Max Temp"]
fig = gmaps.figure(center=(13.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=250, point_radius=4.5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Add markers based on hotel locations

In [93]:
locations = hotels_df[["Lat", "Lng"]]
max_temp = hotels_df["Max Temp"]
fig = gmaps.figure(center=(13.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=250, point_radius=4.5)
# Define markers
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
# Add markers on seperate line
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Add info boxes

In [94]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ºF</dd>
</dl>
"""

# Create a new variable to store:
# Populate info_box_template with information gathered by itterating through hotels_df
# list comprehension
# This line of code is based off an example found in the gmaps documentation located here:
# https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

In [95]:
# Now this variable can be added to the marker layer to get info boxes on map

locations = hotels_df[["Lat", "Lng"]]
max_temp = hotels_df["Max Temp"]
fig = gmaps.figure(center=(13.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=250, point_radius=4.5)
# Define markers
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info) # info boxes added here

fig.add_layer(heat_layer)
# Add markers on seperate line
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))